In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [7]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/student_data.csv")
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [8]:
import pandas as pd
df = pd.read_csv("/content/drive/MyDrive/student_data.csv")
df.head(12)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10
5,GP,M,16,U,LE3,T,4,3,services,other,...,5,4,2,1,2,5,10,15,15,15
6,GP,M,16,U,LE3,T,2,2,other,other,...,4,4,4,1,1,3,0,12,12,11
7,GP,F,17,U,GT3,A,4,4,other,teacher,...,4,1,4,1,1,1,6,6,5,6
8,GP,M,15,U,LE3,A,3,2,services,other,...,4,2,2,1,1,1,0,16,18,19
9,GP,M,15,U,GT3,T,3,4,other,other,...,5,5,1,1,1,5,0,14,15,15
10,GP,F,15,U,GT3,T,4,4,teacher,health,...,3,3,3,1,2,2,0,10,8,9
11,GP,F,15,U,GT3,T,2,1,services,other,...,5,2,2,1,1,4,4,10,12,12

In [10]:
import pandas as pd

In [11]:
data = {
    'Student_ID': [201, 202, 203, 204, 205],
    'Name': ['Ayesha', 'Bilal', 'Danish', 'Hina', 'Umar'],
    'Department': ['CS', 'IT', 'CS', 'SE', 'IT'],
    'Marks': [86, 74, 91, 68, 88],
    'Attendance': [90, 82, 96, 78, 92]
}
df = pd.DataFrame(data)
df

   Student_ID    Name Department  Marks  Attendance
0         201  Ayesha         CS     86          90
1         202   Bilal         IT     74          82
2         203  Danish         CS     91          96
3         204    Hina         SE     68          78
4         205    Umar         IT     88          92

In [12]:
df[df['Department'] == 'IT']

   Student_ID   Name Department  Marks  Attendance
1         202  Bilal         IT     74          82
4         205   Umar         IT     88          92

In [13]:
df.groupby('Department')['Marks'].mean()

Department
CS    88.5
IT    81.0
SE    68.0
Name: Marks, dtype: float64

In [14]:
df['Status'] = df['Marks'].apply(lambda x: 'Pass' if x >= 70 else 'Fail')
df

   Student_ID    Name Department  Marks  Attendance Status
0         201  Ayesha         CS     86          90   Pass
1         202   Bilal         IT     74          82   Pass
2         203  Danish         CS     91          96   Pass
3         204    Hina         SE     68          78   Fail
4         205    Umar         IT     88          92   Pass

In [15]:
df[df['Attendance'] < 85]

   Student_ID   Name Department  Marks  Attendance Status
1         202  Bilal         IT     74          82   Pass
3         204   Hina         SE     68          78   Fail

In [16]:
df.sort_values(by='Marks', ascending=False)

   Student_ID    Name Department  Marks  Attendance Status
2         203  Danish         CS     91          96   Pass
4         205    Umar         IT     88          92   Pass
0         201  Ayesha         CS     86          90   Pass
1         202   Bilal         IT     74          82   Pass
3         204    Hina         SE     68          78   Fail